$gutter: 1rem;

@import 'node_modules/primeflex/primeflex.scss';

@import 'prismjs/themes/prism-coy.css';
@import './AppDemo.scss';

body {
    direction: rtl;
}

.login-body {
    background: url('/imgs/login_background.jpg') !important;
    background-size: cover !important;
    background-repeat: no-repeat;
}

.m-r-5 {
    margin-right: 5px;
}

.register-panel {
    width: 50% !important;

    .login-panel-content {
        margin-top: 15% !important;
    }
}

@media screen and (max-width: 40em) {
    .login-body .login-panel.register-panel {
        left: 0 !important;
        bottom: 0% !important;
        width: 100% !important;
        margin-bottom: 0px !important;
        margin-top: 0 !important;
        margin-left: 0 !important;
        padding: 0 27px 20px 28px !important;
        height: -moz-calc(100% - 128px) !important;
        height: 100% !important;
    }
}